server:
  port: 8080

spring:
  application:
    name: acquisition-engine
  datasource:
    url: jdbc:postgresql://localhost:5432/ae_db
    username: ae_user
    password: secret
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true

liquibase:
  change-log: classpath:db/changelog/changelog-master.xml

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

        spring:
          kafka:
            bootstrap-servers: localhost:9092
            producer:
              key-serializer: org.apache.kafka.common.serialization.StringSerializer
              value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
            consumer:
              key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
              value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
              group-id: acquisition-engine-group
